In [ ]:
- Exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. 
Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [145]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#Descartem les columnes d'any, mes, dia, origen i destí, ja que no les farem servir:
df = pd.read_csv('DelayedFlights.csv')
df.drop(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'Origin', 'Dest'], axis=1, inplace=True)
df

         Unnamed: 0  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0                 0   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1                 1    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
2                 2    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN
3                 4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0
4                 5   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN
...             ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...
1936753     7009710   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0
1936754     7009717    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0
1936755     7009718   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0
1936756     7009726   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN
1936757     7009727   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN

[1936758 rows x 24 columns]

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB
None

In [15]:
df.drop(['Month'], axis = 1)

,Unnamed: 0,Year,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,13,6,1250.0,1220,1617.0,1552,DL,1621,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,13,6,1251.0,1240,1446.0,1437,DL,1639,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,13,6,1110.0,1103,1413.0,1418,DL,1641,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.Dest.unique()

In [ ]:
- Exercici 2
Fes un informe complet del data set:

In [ ]:
-Resumeix estadísticament les columnes d’interès

In [23]:
df.describe().round(3)

        Unnamed: 0       Year        Month   DayofMonth    DayOfWeek      DepTime   CRSDepTime      ArrTime   CRSArrTime    FlightNum  ActualElapsedTime  CRSElapsedTime      AirTime     ArrDelay     DepDelay     Distance       TaxiIn      TaxiOut    Cancelled     Diverted  CarrierDelay  WeatherDelay     NASDelay  SecurityDelay  LateAircraftDelay
count  1936758.000  1936758.0  1936758.000  1936758.000  1936758.000  1936758.000  1936758.000  1929648.000  1936758.000  1936758.000        1928371.000     1936560.000  1928371.000  1928371.000  1936758.000  1936758.000  1929648.000  1936303.000  1936758.000  1936758.000   1247488.000   1247488.000  1247488.000    1247488.000        1247488.000
mean   3341651.151     2008.0        6.111       15.753        3.985     1518.534     1467.473     1610.141     1634.225     2184.263            133.306         134.303      108.277       42.200       43.185      765.686        6.813       18.232        0.000        0.004        19.179         3.704       15.022          0.090             25.296
std    2066064.958        0.0        3.483        8.776        1.996      450.485      424.767      548.178      464.635     1944.702             72.060          71.341       68.643       56.785       53.403      574.480        5.274       14.339        0.018        0.063        43.546        21.493       33.833          2.023             42.055
min          0.000     2008.0        1.000        1.000        1.000        1.000        0.000        1.000        0.000        1.000             14.000         -25.000        0.000     -109.000        6.000       11.000        0.000        0.000        0.000        0.000         0.000         0.000        0.000          0.000              0.000
25%    1517452.500     2008.0        3.000        8.000        2.000     1203.000     1135.000     1316.000     1325.000      610.000             80.000          82.000       58.000        9.000       12.000      338.000        4.000       10.000        0.000        0.000         0.000         0.000        0.000          0.000              0.000
50%    3242558.000     2008.0        6.000       16.000        4.000     1545.000     1510.000     1715.000     1705.000     1543.000            116.000         116.000       90.000       24.000       24.000      606.000        6.000       14.000        0.000        0.000         2.000         0.000        2.000          0.000              8.000
75%    4972466.750     2008.0        9.000       23.000        6.000     1900.000     1815.000     2030.000     2014.000     3422.000            165.000         165.000      137.000       56.000       53.000      998.000        8.000       21.000        0.000        0.000        21.000         0.000       15.000          0.000             33.000
max    7009727.000     2008.0       12.000       31.000        7.000     2400.000     2359.000     2400.000     2400.000     9742.000           1114.000         660.000     1091.000     2461.000     2467.000     4962.000      240.000      422.000        1.000        1.000      2436.000      1352.000     1357.000        392.000           1316.000

In [ ]:
-Troba quantes dades faltants hi ha per columna

In [48]:
#Dades faltants per cada columna
missing_values_count = df.isnull().sum()
missing_values_count

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
medium_f_speed         8387
medium_mph             8387
Delayed                   0
dtype: int64

In [ ]:
-Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [41]:
#Columna de la velocitat mitjana de vol en milles per hora
df['medium_mph'] = df['Distance']/ (df['AirTime']/60)
print(df['medium_mph'])

0          418.965517
1          430.088496
2          406.578947
3          401.298701
4          474.482759
              ...
1936753    453.000000
1936754    370.000000
1936755    338.852459
1936756    359.325843
1936757    504.230769
Name: medium_mph, Length: 1936758, dtype: float64

In [45]:
#Columna dels vols endarrerits com a booleà, passat a 'Yes'/'No'
df['Delayed'] = df[['CarrierDelay','WeatherDelay', 'NASDelay','SecurityDelay','LateAircraftDelay']].sum(axis=1)>0
bool_cols = df.columns[df.dtypes == 'bool']
df[bool_cols] = df[bool_cols].replace({True: 'Yes', False: 'No'})

df

         Unnamed: 0  Year  Month  DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime UniqueCarrier  FlightNum TailNum  ActualElapsedTime  CRSElapsedTime  AirTime  ArrDelay  DepDelay Origin Dest  Distance  TaxiIn  TaxiOut  Cancelled CancellationCode  Diverted  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  medium_f_speed  medium_mph Delayed
0                 0  2008      1           3          4   2003.0        1955   2211.0        2225            WN        335  N712SW              128.0           150.0    116.0     -14.0       8.0    IAD  TPA       810     4.0      8.0          0                N         0           NaN           NaN       NaN            NaN                NaN      418.965517  418.965517      No
1                 1  2008      1           3          4    754.0         735   1002.0        1000            WN       3231  N772SW              128.0           145.0    113.0       2.0      19.0    IAD  TPA       810     5.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN      430.088496  430.088496      No
2                 2  2008      1           3          4    628.0         620    804.0         750            WN        448  N428WN               96.0            90.0     76.0      14.0       8.0    IND  BWI       515     3.0     17.0          0                N         0           NaN           NaN       NaN            NaN                NaN      406.578947  406.578947      No
3                 4  2008      1           3          4   1829.0        1755   1959.0        1925            WN       3920  N464WN               90.0            90.0     77.0      34.0      34.0    IND  BWI       515     3.0     10.0          0                N         0           2.0           0.0       0.0            0.0               32.0      401.298701  401.298701     Yes
4                 5  2008      1           3          4   1940.0        1915   2121.0        2110            WN        378  N726SW              101.0           115.0     87.0      11.0      25.0    IND  JAX       688     4.0     10.0          0                N         0           NaN           NaN       NaN            NaN                NaN      474.482759  474.482759      No
...             ...   ...    ...         ...        ...      ...         ...      ...         ...           ...        ...     ...                ...             ...      ...       ...       ...    ...  ...       ...     ...      ...        ...              ...       ...           ...           ...       ...            ...                ...             ...         ...     ...
1936753     7009710  2008     12          13          6   1250.0        1220   1617.0        1552            DL       1621  N938DL              147.0           152.0    120.0      25.0      30.0    MSP  ATL       906     9.0     18.0          0                N         0           3.0           0.0       0.0            0.0               22.0      453.000000  453.000000     Yes
1936754     7009717  2008     12          13          6    657.0         600    904.0         749            DL       1631  N3743H              127.0           109.0     78.0      75.0      57.0    RIC  ATL       481    15.0     34.0          0                N         0           0.0          57.0      18.0            0.0                0.0      370.000000  370.000000     Yes
1936755     7009718  2008     12          13          6   1007.0         847   1149.0        1010            DL       1631  N909DA              162.0           143.0    122.0      99.0      80.0    ATL  IAH       689     8.0     32.0          0                N         0           1.0           0.0      19.0            0.0               79.0      338.852459  338.852459     Yes
1936756     7009726  2008     12          13          6   1251.0        1240   1446.0        1437            DL       1639  N646DL              115.0           117.0     89.0       9.0      11.0    IAD  ATL       533    13.0     13.0          0                N         0           NaN           NaN       NaN            NaN                NaN      359.325843  359.325843      No
1936757     7009727  2008     12          13          6   1110.0        1103   1413.0        1418            DL       1641  N908DL              123.0           135.0    104.0      -5.0       7.0    SAT  ATL       874     8.0     11.0          0                N         0           NaN           NaN       NaN            NaN                NaN      504.230769  504.230769      No

[1936758 rows x 33 columns]

In [ ]:
-Taula de les aerolínies amb més endarreriments acumulats

In [108]:
a = (df.groupby('UniqueCarrier')['Delayed'].count())
a.sort_values(ascending = False)

UniqueCarrier
WN    377602
AA    191865
MQ    141920
UA    141426
OO    132433
DL    114238
XE    103663
CO    100195
US     98425
EV     81877
NW     79108
FL     71284
YV     67063
B6     55315
OH     52657
9E     51885
AS     39293
F9     28269
HA      7490
AQ       750
Name: Delayed, dtype: int64

In [87]:
endarrerits = df[['UniqueCarrier', 'Delayed']]
endarrerits['Delayed'].groupby([endarrerits['UniqueCarrier'],endarrerits['Delayed'] == 'Yes']).count()

UniqueCarrier  Delayed
9E             False       16254
               True        35631
AA             False       59608
               True       132257
AQ             False         410
               True          340
AS             False       15281
               True        24012
B6             False       17083
               True        38232
CO             False       41237
               True        58958
DL             False       41986
               True        72252
EV             False       25096
               True        56781
F9             False       12329
               True        15940
FL             False       24293
               True        46991
HA             False        3165
               True         4325
MQ             False       44365
               True        97555
NW             False       24364
               True        54744
OH             False       13364
               True        39293
OO             False       43442
               True        88991
UA             False       45961
               True        95465
US             False       38917
               True        59508
WN             False      174043
               True       203559
XE             False       31655
               True        72008
YV             False       16417
               True        50646
Name: Delayed, dtype: int64

In [ ]:
-Quins són els vols més llargs? I els més endarrerits?
-Etc.

In [135]:
#vols mes llargs
mes_llargs = df['ActualElapsedTime']
mes_llargs.sort_values(ascending=False).head(10)

1488690    1114.0
1926817     790.0
1173580     776.0
1367047     750.0
1418032     750.0
528094      727.0
1250037     724.0
556381      711.0
1926347     702.0
363750      698.0
Name: ActualElapsedTime, dtype: float64

In [136]:
#més endarrerits
df['temps_delay'] = df['CarrierDelay'] + df['WeatherDelay'] + df['NASDelay'] + df['SecurityDelay'] + df['LateAircraftDelay']
mes_endarrerits = (df.groupby('FlightNum')['temps_delay'].size())
mes_endarrerits.sort_values(ascending=False).head(10)

FlightNum
16     1586
50     1550
40     1507
15     1471
44     1447
52     1410
62     1375
47     1362
321    1355
75     1354
Name: temps_delay, dtype: int64

In [ ]:
- Exercici 3
Exporta el data set net i amb les noves columnes a Excel.

In [147]:
df.to_csv(r'C:\Users\ab\Itacademy\Pandas\Tasca_5.xlsx', index = False)